@model IEnumerable<Ludix.Models.Wishlist>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.AspUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WishlistId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WishlistId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WishlistId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
